# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# IDE
.idea/
.vscode/

# Environment
.env

# macOS
.DS_Store

# Logs
*.log

# Testing
.pytest_cache/

# Node
node_modules/

# Build
dist/
build/

# Coverage
.coverage
htmlcov/